---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Line from '../../components/Line.astro';
import ArticleList from '../../components/ArticleList.astro';
import '../../styles/global.css';

export async function getStaticPaths() {
  const articles = await getCollection('articles');
  const tags = [...new Set(articles.flatMap((article) => article.data.tags || []))];

  return tags.map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.params;
const articles = await getCollection('articles');
const filteredArticles = articles
  .filter((article) => article.data.tags?.includes(tag))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang='ja'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class='flex flex-col min-h-dvh w-dvw bg-slate-100'>
    <Header title=`Tag: ${tag}` href={`/tags/${tag}`} />
    <main class='max-w-screen-md w-full px-4 md:px-10 mx-auto flex-1'>
      <ArticleList posts={filteredArticles} />
    </main>
    <Line />
    <Footer />
  </body>
</html>
