---
import FormattedDate from './FormattedDate.astro';
import { emojiToTwemojiUrl } from '../utils';
import type { Post } from '../types';

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<section>
  <div class='flex flex-wrap gap-8 items-start justify-between'>
    {
      posts.map((post) => (
        <div class='w-full md:w-[47%]'>
          <article class='flex justify-between'>
            <a
              href={`/articles/${post.slug}/`}
              class='flex items-center justify-center size-20 rounded-2xl bg-white'
            >
              <img
                src={emojiToTwemojiUrl(post.data.emoji)}
                alt={post.data.emoji}
                class='size-10 inline-flex select-none pointer-events-none'
              />
            </a>
            <div style='width: calc(100% - 94px);'>
              <a href={`/articles/${post.slug}/`}>
                <h2 class='text-slate-800 text-base font-semibold m-0 line-clamp-2'>
                  {post.data.title}
                </h2>
              </a>
              <p class='text-slate-500 text-sm mt-1'>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </div>
          </article>
        </div>
      ))
    }
  </div>
</section>
