---
import { codePoint } from "../utils.ts";
import { SITE_TITLE } from "../consts.ts";

interface Props {
  title: string;
  description: string;
  emoji?: string;
  noindex?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, emoji = "🟠", noindex = false } = Astro.props;
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' href='/favicon.ico' sizes='32x32' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} />
<meta name='robots' content={noindex ? "noindex, nofollow" : "index, follow"} />
<meta name='language' content='ja' />
<meta name='author' content='minagishl' />
<meta
  name='keywords'
  content='Tech Blog, Programming, Web Development, Software Engineering, 技術ブログ, プログラミング'
/>

<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL} />

<!-- RSS Feed -->
<link
  rel='alternate'
  type='application/rss+xml'
  href={new URL("/rss.xml", Astro.site)}
  title='RSS2.0'
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:site_name' content={SITE_TITLE} />
<meta
  property='og:image'
  content={new URL(
    `https://cdn.jsdelivr.net/gh/minagishl/assets/notes/${codePoint(emoji)}.png`,
    Astro.url.origin
  )}
/>

<!-- Twitter -->
<meta property='twitter:card' content='summary' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta
  property='twitter:image'
  content={new URL(
    `https://cdn.jsdelivr.net/gh/minagishl/assets/notes/${codePoint(emoji)}.png`,
    Astro.url.origin
  )}
/>
